<!DOCTYPE html>
<html ng-app="midones">

<head>
    <title></title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="new.js"></script>
</head>

<body>
    <div ng-controller="midonecontrons">
        <div class="container">
            <span ng-repeat="dataset in data">
            <button ng-click="cart(dataset.id,$index)">{{dataset.id}}</button>
        </span>
        <br>
        <span ng-repeat="test in cartdata">
 				{{test.id }}    {{test.quantity }}	           
            	<hr/>
        </span>
        ทั้งหมก {{num*100}}
        ลด {{sell}}
        </div>
       
    </div>
</body>

</html>
