<!DOCTYPE html>
<html ng-app="midones">

<head>
    <title></title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->
        <!-- <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" /> -->
    <link href="css/cart.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/cart.js"></script>
    <!-- ////////////////////////////////////////////// -->
    <script type="text/javascript" src="new.js"></script>

    
</head>

<body>
    <div ng-controller="midonecontrons">
        <div class="container">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
            <div id="wrapper">
                <div id="checkout">จำนวน {{num}}</div>
                <div id="info">
                    <p class="i1">
                        <h2>ร้านหนังสือ บ้านนายจิน</h2></p>
                </div>
                <div id="header">
                </div>
                <div id="sidebar">
                    <h3>CART</h3>
                    <div id="cart">
                        <span class="empty">No items in cart.</span>
                    </div>
                </div>
                <div id="grid">
                    <div ng-repeat="book in data">
                        <div class="product">
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img ng-src="{{book.pic}}" height="400px">
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart" ng-click="cart(book.id,$index)">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">฿{{book.price}}</span>
                                            <span class="product_name">{{book.name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <ul>
                                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1.jpg" alt="" /></li>
                                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2.jpg" alt="" /></li>
                                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3.jpg" alt="" /></li>
                                        </ul>
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end repleat -->
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        </div>
    </div>
</body>
<script type="text/javascript">
$(document).ready(function() {

    $('.product').each(function(i, el) {

        // Lift card and show stats on Mouseover
        $(el).find('.make3D').hover(function() {
            $(this).parent().css('z-index', "20");
            $(this).addClass('animate');
            $(this).find('div.carouselNext, div.carouselPrev').addClass('visible');
        }, function() {
            $(this).removeClass('animate');
            $(this).parent().css('z-index', "1");
            $(this).find('div.carouselNext, div.carouselPrev').removeClass('visible');
        });

        // Flip card to the back side
        $(el).find('.view_gallery').click(function() {

            $(el).find('div.carouselNext, div.carouselPrev').removeClass('visible');
            $(el).find('.make3D').addClass('flip-10');
            setTimeout(function() {
                $(el).find('.make3D').removeClass('flip-10').addClass('flip90').find('div.shadow').show().fadeTo(80, 1, function() {
                    $(el).find('.product-front, .product-front div.shadow').hide();
                });
            }, 50);

            setTimeout(function() {
                $(el).find('.make3D').removeClass('flip90').addClass('flip190');
                $(el).find('.product-back').show().find('div.shadow').show().fadeTo(90, 0);
                setTimeout(function() {
                    $(el).find('.make3D').removeClass('flip190').addClass('flip180').find('div.shadow').hide();
                    setTimeout(function() {
                        $(el).find('.make3D').css('transition', '100ms ease-out');
                        $(el).find('.cx, .cy').addClass('s1');
                        setTimeout(function() {
                            $(el).find('.cx, .cy').addClass('s2');
                        }, 100);
                        setTimeout(function() {
                            $(el).find('.cx, .cy').addClass('s3');
                        }, 200);
                        $(el).find('div.carouselNext, div.carouselPrev').addClass('visible');
                    }, 100);
                }, 100);
            }, 150);
        });

        // Flip card back to the front side
        $(el).find('.flip-back').click(function() {

            $(el).find('.make3D').removeClass('flip180').addClass('flip190');
            setTimeout(function() {
                $(el).find('.make3D').removeClass('flip190').addClass('flip90');

                $(el).find('.product-back div.shadow').css('opacity', 0).fadeTo(100, 1, function() {
                    $(el).find('.product-back, .product-back div.shadow').hide();
                    $(el).find('.product-front, .product-front div.shadow').show();
                });
            }, 50);

            setTimeout(function() {
                $(el).find('.make3D').removeClass('flip90').addClass('flip-10');
                $(el).find('.product-front div.shadow').show().fadeTo(100, 0);
                setTimeout(function() {
                    $(el).find('.product-front div.shadow').hide();
                    $(el).find('.make3D').removeClass('flip-10').css('transition', '100ms ease-out');
                    $(el).find('.cx, .cy').removeClass('s1 s2 s3');
                }, 100);
            }, 150);

        });


        /* ----  Image Gallery Carousel   ---- */

        var carousel = $(el).find('.carousel ul');
        var carouselSlideWidth = 315;
        var carouselWidth = 0;
        var isAnimating = false;

        // building the width of the casousel
        $(carousel).find('li').each(function() {
            carouselWidth += carouselSlideWidth;
        });
        $(carousel).css('width', carouselWidth);

        // Load Next Image
        $(el).find('div.carouselNext').on('click', function() {
            var currentLeft = Math.abs(parseInt($(carousel).css("left")));
            var newLeft = currentLeft + carouselSlideWidth;
            if (newLeft == carouselWidth || isAnimating === true) {
                return;
            }
            $(carousel).css({
                'left': "-" + newLeft + "px",
                "transition": "300ms ease-out"
            });
            isAnimating = true;
            setTimeout(function() {
                isAnimating = false;
            }, 300);
        });

        // Load Previous Image
        $(el).find('div.carouselPrev').on('click', function() {
            var currentLeft = Math.abs(parseInt($(carousel).css("left")));
            var newLeft = currentLeft - carouselSlideWidth;
            if (newLeft < 0 || isAnimating === true) {
                return;
            }
            $(carousel).css({
                'left': "-" + newLeft + "px",
                "transition": "300ms ease-out"
            });
            isAnimating = true;
            setTimeout(function() {
                isAnimating = false;
            }, 300);
        });
    });

    $('.sizes a span, .categories a span').each(function(i, el) {
        $(el).append('<span class="x"></span><span class="y"></span>');

        $(el).parent().on('click', function() {
            if ($(this).hasClass('checked')) {
                $(el).find('.y').removeClass('animate');
                setTimeout(function() {
                    $(el).find('.x').removeClass('animate');
                }, 50);
                $(this).removeClass('checked');
                return false;
            }

            $(el).find('.x').addClass('animate');
            setTimeout(function() {
                $(el).find('.y').addClass('animate');
            }, 100);
            $(this).addClass('checked');
            return false;
        });
    });

    $('.add_to_cart').click(function() {
        var productCard = $(this).parent();
        var position = productCard.offset();
        var productImage = $(productCard).find('img').get(0).src;
        var productName = $(productCard).find('.product_name').get(0).innerHTML;
        var product_price = $(productCard).find('.product_price').get(0).innerHTML;

        $("body").append('<div class="floating-cart"></div>');
        var cart = $('div.floating-cart');
        productCard.clone().appendTo(cart);
        $(cart).css({
            'top': position.top + 'px',
            "left": position.left + 'px'
        }).fadeIn("slow").addClass('moveToCart');
        setTimeout(function() {
            $("body").addClass("MakeFloatingCart");
        }, 800);
        setTimeout(function() {
            $('div.floating-cart').remove();
            $("body").removeClass("MakeFloatingCart");


            var cartItem = "<div class='cart-item'><div class='img-wrap'><img src='" + productImage + "' alt='' /></div><span>" + productName + "</span><strong>" + product_price + "</strong><div class='cart-item-border'></div><div class='delete-item'></div></div>";

            $("#cart .empty").hide();
            $("#cart").append(cartItem);
            $("#checkout").fadeIn(500);

            $("#cart .cart-item").last()
                .addClass("flash")
                .find(".delete-item").click(function() {
                    $(this).parent().fadeOut(300, function() {
                        $(this).remove();
                        if ($("#cart .cart-item").size() == 0) {
                            $("#cart .empty").fadeIn(500);
                            $("#checkout").fadeOut(500);

                        }
                    })
                });
            setTimeout(function() {
                $("#cart .cart-item").last().removeClass("flash");
            }, 10);

        }, 1000);
    });
});
</script>

</html>
